body {
    background-color: #aa0101;
    font-family: Arial, sans-serif;
}
#main {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
    
img{
    width: 40px;
    height: 40px;
    
}

#logo-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#logo-header{
    margin: 0;
    padding-left: 20px;
}


.forms {
    width: 80%;
    margin-bottom: 15px;
}
.forms label {
    display: block;
    margin-bottom: 5px;
}
.forms input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
.forms button {
    padding: 10px 20px;
    cursor: pointer;
}
.account-info {
    margin-top: 20px;
}
.account-info p {
    margin: 5px 0;
}



@media only screen and (max-width: 375px) {
    #main {
        width: 100%;
        padding: 10px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    #logo-header {
        padding-left: 10px;
    }

    .forms input {
        padding: 8px;
    }

    .forms button {
        width: 100%;
        padding: 8px 10px;
    }

    .account-info {
        margin-top: 10px;
    }
}



